<div class="index-sections">
  {{ content_for_index }}
</div>
<div class="container">
<!--   <div class="row menu-top">
    <div class="col-md-2 gg"><a class="menu-li1" href="">Forside</a></div>
    <div class="col-md-2 hh"><a class="menu-li1" href="">Om os</a></div>
    <div class="col-md-4 ii"><a href=""><span class="center-li1">Reeslev</span><span class="center-li3"> | </span><span class="center-li4"><br></span><span class="center-li2">Håndlavede smykker</span></a></div>
    <div class="col-md-2 hh"><a class="menu-li1" href="">Shop</a></div>
    <div class="col-md-2 gg"><a class="menu-li1" href="">Kontakt os</a></div>
  </div> -->
  <div class="row z">
    <div class="row s">
      <span class="t">Vores firkantede personlige halskæde</span>
      <span class="u">En unik og special lavet smykke som passer dig - fordi du vælger hvad der skal stå på den.</span>
      <div class="y">
        <div class="row minus-main">
          <button class="v">Bestil</button>
          <div class="minus0"></div>
        </div>
      </div>
    </div>
    <img class="aa" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/Screenshot_2019-10-27_at_13_1.png?1700">
    <img class="bb" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/678453.png?399">
  </div>
  <div class="row w">
    <div class="row i">
      <span class="t">Vores historie</span>
      <span class="x">I 1954 stiftede mine bedste forældre smykke forretningen Reeslev i Vester farigmagsgade. Og i dag har barnebarnet som blev opkaldt efter sin morfar Esben Reeslev - valgt at træde i fodsporene som guldsmede ejer, som i dag hedder Reeslev Håndlavet…</span>
      <div class="y">
        <div class="row minus-main1">
          <button class="v">Læs om os</button>
          <div class="minus0"></div>
        </div>
      </div>
    </div>
    <img class="cc" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/preview.jpg?405">
    <img class="dd" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/107790711_old1.png?1664">
    <img class="ee" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/01-4.png?412">
  </div>
  <div class="row j">
    <div class="shape"></div>
    <img class="n" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/Screenshot_2019-10-27_at_13_d64acddb-ab9f-4340-9a71-ef2ee7ce9e3f.png?1674"> 
    <div class="row m">
      <span class="k">Design din egen halskæde</span>
      <span class="l">Du kan blot skrive til os hvordan du ønsker at halskæden skal udsmykkes eller laves - så kan vi lave det for dig.</span>
      <div class="row minus-main">
        <button class="v">Bestil</button>
        <div class="minus0"></div>
      </div>
    </div>
  </div>
  <div class="row mm">
    <div class="shape1"></div>
    <img class="o" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/01-8.png?627">
    <div class="row p">
      <span class="kk">Den perfekte gave</span>
      <span class="ll">Du kan blot skrive til os hvordan du ønsker at halskæden skal udsmykkes eller laves - så kan vi lave det for dig.</span>
    </div>
  </div>
 
  
  
<!--   <div class="row">
    <div class="col-md-12 g">Følg @reeslevcph</div>
    <div class="col-md-12 h">Shop dine favorit looks</div>
  </div>
  <div class="row q">
    <div class="col-md-3">
      <img class="r" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/Screenshot_2019-11-11_at_12.01.50.png?627">
    </div>
    <div class="col-md-3">
      <img class="r" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/inhaleexhale-lifestyle_1600x_210b50ba-1225-405f-a539-549d49ce1cab.jpg?627">
    </div>
    <div class="col-md-3">
      <img class="r" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/Screenshot_2019-11-11_at_11.58.02.png?627">
    </div>
    <div class="col-md-3">
      <img class="r" src="https://cdn.shopify.com/s/files/1/0253/8605/7794/files/Screenshot_2019-11-11_at_11.57.40.png?627">
    </div>
  </div> -->
  
  
  
  <div id="rap__med__instagram"></div>
  <script async src="https://theraptormedia.com/instagram/embed.js" data-id="reeslev.myshopify.com" defer="defer"></script>  
</div>
<style>
  .mm{
    height: 34vw;
    margin: 130px 170px;
    position:relative;
  }
  .ll{
    padding-bottom: 40px;
    font-family: BigCaslon-Medium, 'Big Caslon';
    font-size: 14px;
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .kk{
    width: 100vw;
    padding-bottom: 10px;
    font-family: BigCaslon-Medium, 'Big Caslon';
    font-size: 29px;
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .ee{
    position: absolute;
    right: 10vw;
    top: 6vw;
    height: auto;
    width: 30vw;
  }
  .dd{
    position: absolute;
    left: 15vw;
    top: 10vw;
    height: auto;
    width: 35vw;
  }
  .cc{
    width: 100vw;
    height: 45vw;
  }
  .bb{
    position: absolute;
    border: 3px solid white;
    height: auto;
    width: 25vw;
    top: 17vw;
    left: 9vw;
  }
  .aa{
    position: absolute;
    width: 70vw;
    height: auto;
    top: 2vw;
    left: 10vw;
  }
  .z{
    height: 52vw;
    background: #203352;
    position: relative;
  }
  .y{
    text-align: right;
    width: -webkit-fill-available;
  }
  .x{
    font-size: 14px;
    padding-bottom: 20px;
    line-height: normal;
    font-family: BigCaslon-Medium, "Big Caslon";
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .w{
    padding: 20px 0px 10px 0px;
    position: relative;
  }
  .v{
    border-radius: 0px;
    font-family: BigCaslon-Medium, "Big Caslon";
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: none;
  }
  .u{
    font-family: BigCaslon-Medium, "Big Caslon";
    font-size: 17px;
    font-weight: 400;
    color: rgb(45, 45, 45);
    padding: 40px 0px;
    line-height: normal;
  }
  .t{
    line-height: 1.5em;
    font-family: BigCaslon-Medium, "Big Caslon";
    font-size: 29px;
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .s{
    padding: 35px;
    position: absolute;
    top: 22vw;
    right: 5vw;
    width: 40vw;
    background: rgb(205, 159, 132);
    z-index: 1;
  }
  .r{
    width:100%;
    height:100%;
  }
  .q{
    padding:10px 60px 60px 60px;
  }
  .p{
    text-align: right;
    position: absolute;
    left: 12vw;
    top: 13vw;
    z-index: 1;
    width: 20vw;
    line-height: normal;
  }
  .o{
    z-index: 1;
    height: auto;
    width: 35vw;
    left: 35vw;
    border: 3px solid rgb(218, 225, 229);
    position: absolute;
  }
  .n{
    right: 30vw;
    z-index: 1;
    height: auto;
    width: 41vw;
    position: absolute;
  }
  .m{
    position: absolute;
    right: 7vw;
    top: 5vw;
    z-index: 1;
    width: 20vw;
    line-height: normal;
  }
  .l{
    padding-bottom: 40px;
    font-family: BigCaslon-Medium, 'Big Caslon';
    font-size: 14px;
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .k{
    padding-bottom: 10px;
    font-family: BigCaslon-Medium, 'Big Caslon';
    font-size: 29px;
    font-weight: 400;
    color: rgb(45, 45, 45);
  }
  .j{
    height: 25vw;
    margin: 130px 170px;
    position:relative;
  }
  .i{
    padding: 15px 20px 20px 35px;
    position: absolute;
    top: 28vw;
    right: 21vw;
    width: 36vw;
    background: rgb(218, 225, 229);
    z-index: 1;
  }
  .h{
    text-align:center;
    font-family: Avenir-Medium, Avenir;
    font-size: 19px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  .g{
    text-align:center;
    font-family: BigCaslon-Medium, "Big Caslon";
    font-size: 24px;
    padding:0px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }
  .minus-main1{
    margin: 0px;
    float: right;
    width: 175px;
    background: black;
  }
  .minus-main{
    margin: 0px;
    float: right;
    width: 125px;
    background: black;
  }
  .minus0{
    border-bottom: 1px solid white;
    width: 15px;
    margin-bottom: 23px;
  }
  .shape1{
    z-index: 0;
    position: absolute;
    left: 22vw;
    top: 8vw;
    border-bottom: 23vw solid #cd9f84;
    border-left: 5vw solid transparent;
    width: 23vw;
  }
  .shape{
    z-index: 0;
    position: absolute;
    right: 22vw;
    top: 2vw;
    border-bottom: 22vw solid #dbe2e6;
    border-left: 5vw solid transparent;
    width: 23vw;
  }
  @media only screen and (min-width:300px) and (max-width: 767px) {
    .container{
      width: 100vw;
    }
    .aa{
      position: unset;
      width: 100vw;
      height: 125vw;
    }
    .bb{
      position: absolute;
      height: auto;
      width: 40vw;
      top: 50vw;
      left: 0px;
    }
    .cc{
      height: 135vw;
    }
    .dd{
      left: 5vw;
      top: 10vw;
      height: auto;
      width: 75vw;
    }
    .ee{
      left: 45vw;
      top: 35vw;
      height: auto;
      width: 50vw;
    }
    .kk{
      font-size: 25px;
    }
    .ll{
      font-size: 13px;
    }
    .mm{
      height: 130vw;
      margin: 15px -15px;
      padding: 0px;
    }
    .i{
      padding: 20px 10px;
      top: 75vw;
      left: 15vw;
      width: 80vw;
    }
    .j{
      height: 130vw;
      margin: 15px -15px;
      padding: 0px;
    }
    .k{
      font-size: 15px;
    }
    .l{
      padding-bottom: 15px;
      font-size: 10px;
    }
    .m{
      left: 15vw;
      top: 60vw;
      width: 80vw;
    }
    .n{
      right: 0vw;
      height: auto;
      width: 100vw;
    }
    .o{
      position: absolute;
      left: 12vw;
      top: 50vw;
      width: 80vw;
      height: auto;
    }
    .p{
      text-align: right;
      left: 12vw;
      top: 12vw;
      width: 80vw;
    }
    .s{
      height: auto;
      padding: 20px;
      top: 85vw;
      right: 5vw;
      width: 80vw;
      z-index: 0;
    }
    .t{
      font-size: 15px;
    }
    .u{
      padding: 10px 0px;
      font-size: 10px;
    }
    .v{
      padding: 0px 20px;
      font-size: 15px;
    }
    .w{
      margin-bottom: 0px;
      padding:0px;
    }
    .x{
      font-size: 11px;
      padding-bottom: 0px;
    }
    .z{
      margin-bottom: 0px;
      height: 145vw;
    }
    .minus-main1{
      width: unset;
    }
    .minus-main{
      width: unset;
    }
    .minus0{
      display: none;
    }
    .shape1{
      left: 0;
      top: 0;
      border-bottom: 110vw solid #cd9f84;
      border-left: 0px solid transparent;
      width: 80vw;
    }
    .shape{
      top: 30vw;
      left: 0px;
      border-left: 10vw solid transparent;
      border-bottom: 60vw solid #dbe2e6;
      width: 95vw;
    }
    .contact_email{
      width: 47vw !important;
    }
    .sign_up{
      width: 30vw !important;
    }
    .input-row{
      -webkit-flex-direction: unset;
    }
  }
</style> 